@use '/src/styles/base/functions' as *;
@use '/src/styles/base/mixins' as *;
@use '/src/styles/base/media' as *;

.header {
  position: fixed;
	
  top: 15px;
  right: 0;
  left: 0;
  z-index: 5;

  color: var(--color-accent);

  @include mobile-above {
    display: flex;
    justify-content: center;
		top: 30px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: fluid(30, 20);

    padding: 12px 24px 12px 24px;

    background-color: var(--background-muted);
    backdrop-filter: blur(10px);
    border: 1px solid var(--border-default);
    border-radius: var(--border-radius);

    @include mobile {
      padding: 12px;
    }
  }

  &__menu {
    @include mobile {
      display: none;
    }

    &-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px 5px;
    }

    &-link {
      position: relative;

      padding-inline: 20px;
      padding-block: 10px;

      line-height: 1.6;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      color: var(--color-accent);

      @include mobile-above {
        @include hover {
          color: var(--background-default);
          background-color: var(--color-accent);
          border-radius: var(--border-radius);
        }

        &.is-active {
          color: var(--background-default);
          background-color: var(--color-accent);
          border-radius: var(--border-radius);
          pointer-events: none;
        }
      }
    }
  }

  &__actions {
    @include mobile {
      margin-left: auto;
    }
  }

  &__burger {
    display: flex;

    @include mobile-above {
      display: none;
    }
  }
}
